#container {
  width: 960px;
  margin: auto;
}

canvas {
  width: 100%;
  border: 1px solid black;
}

#output {
  font-family: Arial, sans-serif;
  margin-top: 10px;
}

#restartButton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #808080;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#restartButton:hover {
    background-color: #505050;
    color: #ffffff;
}