body {
  font-family: 'Arial';
  font-weight: 600;
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

#audio-player {
  width: 50%;
  max-width: 500px;
}

canvas {
  width: 100%;
  border: 1px solid black;
}

#output {
  font-family: Arial, sans-serif;
  margin-top: 10px;
}


#crepes_audio {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
}

#restartButton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #808080;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#restartButton:hover {
  background-color: #505050;
  color: #ffffff;
}

#audio-visualizer {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

#intervalsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.audiobar_container {
  width: 100%;
}

.playr {
  width: 100%;
  background-color: white;
  padding: 10px;
  color: #5F7A76;
  border: 8px solid #5f7a76;
}

.playr-ui {
  display: flex;
  align-items: stretch;
}

.playr-controls {
  width: 10%;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playr-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 0 15px;
  position: relative;
}

.playr-ui.volume-controls .playr-panel {
  width: 70%;
}

.playr-controls button {
  color: #5f7a76;
  background-color: transparent;
  border: medium none;
  padding: 0;
  cursor: pointer;
  font-size: 24px;
  line-height: 1;
  margin: 0 1px;
}

.playr-controls button:hover {
  color: #000;
}

.playr-controls button::after {
  font-family: "Material Design Icons";
  display: flex;
  align-items: center;
  justify-content: center;
}

.playr-play::after {
  /* content: "\f40a";*/
}

.playr.playing .playr-play::after {
  /* content: "\f3e4"; */
}

.playr-fastforward::after {
  /* content: "\f211"; */
}

.playr-rewind::after {
  /*  content: "\f45f"; */
}

.playr-rewind::after,
.playr-fastforward::after {
  font-size: 21px;
}

.playr-progress {
  background-color: #5f6672;
  height: 4px;
  bottom: 2px;
  left: 15px;
  position: absolute;
  width: calc(100% - 30px);
  cursor: pointer;
}

.playr-progress-bar {
  background-color: #d2d9e5;
  height: 100%;
  transform: scale3d(0, 1, 1);
  transform-origin: 0 0 0;
  width: 100%;
}

.playr-duration,
.playr-filename {
  font-size: 12px;
  position: absolute;
  top: 0;
  width: 50%;
  font-weight: 600;
}

.playr-filename {
  left: 15px;
  text-align: left;
  left: 15px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.playr-duration {
  right: 15px;
  text-align: right;
}

.playr-volume {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playr-volume-box.hidden {
  background-color: #38354a;
  bottom: 0;
  height: 100px;
  position: absolute;
  width: 35px;
  display: none;
}

.playr-volume-box {
  background-color: #5f6672;
  height: 4px;
  width: 100%;
  cursor: pointer;
}

.playr-volume-box span {
  display: block;
  background-color: #eee;
  height: 100%;
  width: 100%;
  transform: scale3d(1, 1, 1);
  transform-origin: 0 0 0;
}


/* -- list --*/

.list-ui {
  margin-top: 10px;
  font-weight: normal;
  padding: 18px;
  /*border: 8px solid #614767;*/
  margin-left: 0px;
  background: #eee;
  width: 100%;
  height: 300px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.list-name {
  font-weight: bold;
  margin-bottom: 20px;
}

.list-ui ul {
  list-style-type: none;
  margin: 0;
  padding: 0 10px;
}

.list-ui ul li {
  margin: 0px 5px;
  padding: 10px 10px;
  border-bottom: 1px solid #bbb;
}

.list-ui ul li:hover {
  background-color: #ccc;
  cursor: pointer;
}

.list-ui ul li.selected {
  background-color: #fff;
}


/* compact */

.playr.compact .playr-rewind,
.playr.compact .playr-fastforward {
  display: none;
}

.playr-filename.overflow span {
  animation: 5000ms linear 0ms normal forwards infinite running scroll;
  display: inline-block;
  margin-right: 0;
  padding-right: 100%;
  transform: translate3d(0px, 0px, 0px);
}

@keyframes scroll {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }
  100% {
    transform: translate3d(-100%, 0px, 0px);
  }
}
